In [1]:
nums =set([1,1,2,3,3,3,4,4])
print(len(nums))

#Answer us 4

4

In [2]:
d ={"john":40, "peter":45}
print(list(d.keys()))

#Answer is ['john', 'peter']

['john', 'peter']

# A website requires a user to input username and password to register. Write a program to check the validity of password given by user. Following are the criteria for checking password:

In [4]:
def validpassword(password):
  l,u,d,s=0,0,0,0
  if len(password) >=6 and len(password) <=12:
    for i in password:
      if i.isdigit():
        d+=1
      if i.isupper():
        u+=1
      if i.islower():
        l +=1
      if i in ["$","#","@"]:
        s += 1
  if l >= 1 and u >=1 and d >=1 and s >= 1:
    print("password is valid")
  else:  
    print("passowrd is not valid")

password = input()
validpassword(password)

Rahulmusale
passowrd is not valid

Write a for loop that prints all elements of a list and their position in the list.a = [4,7,3,2,5,9]

In [5]:
posiion=0
a = [4,7,3,2,5,9]
for i in a:
  print(i,"postion=",posiion)
  posiion +=1

4 postion= 0
7 postion= 1
3 postion= 2
2 postion= 3
5 postion= 4
9 postion= 5

5)Please   write   a   program   which accepts  a   string   from   console   and   print   the characters that have even indexes.
H1e2l3l4o5w6o7r8l9d

In [16]:
#H1e2l3l4o5w6o7r8l9d
S = input()
postion = 0
outputs=[S[i] for i in range(len(S)) if i%2==0]
print("".join(map(str,outputs)))

H1e2l3l4o5w6o7r8l9d
Helloworld

6)Please write a program which accepts a string from console and print it in reverse order.

In [28]:
import string
S = input()
print(S[::-1])

rise to vote sir
ris etov ot esir

7)Please write a program which count and print the numbers of each character in a string input by console

In [41]:

#abcdefgabc
S = input()
tempstring =""
for i in S:
  if i not in tempList:
    print(i, S.count(i))
    tempList=tempList+i

abcdefgabc
a 2
b 2
c 2
d 1
e 1
f 1
g 1

8)With   two   given   lists   [1,3,6,78,35,55]   and   [12,24,35,24,88,120,155],   write   a program to make a list whose elements are intersection of the above given lists

In [46]:
a = [1,3,6,78,35,55]
b = [12,24,35,24,88,120,155]
IntersectionList =[ i for i in a if i in b]
# IntersectionList =[ ]
# for i in a:
#   if i in b:
#     IntersectionList.append(i)

print(IntersectionList)

[35]

9)With a given list [12,24,35,24,88,120,155,88,120,155], write a program to print this list after removing all duplicate values with original order reserved.

In [57]:
a=[12,24,35,24,88,120,155,88,120,155]
newlist=[]
for i in a:
  if i in newlist:
    pass
  else:
    newlist.append(i)

print(newlist)

[12, 24, 35, 88, 120, 155]

10)By using list comprehension, please write a program to print the list after removing the value 24 in [12,24,35,24,88,120,155]

In [65]:
l = [12,24,35,24,88,120,155]
newlist = [i for i in l if i!=24]
# newlist =[]
# for i in l:
#   if i in newlist:
#     pass
#   else:
#     newlist.append(i)
print(newlist)

[12, 35, 88, 120, 155]

11)By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155]

In [69]:
a = [12,24,35,70,88,120,155]
b =[0,4,5]
newlist = [a[i] for i in range(len(a)) if i not in b]
print(newlist)

[24, 35, 70, 155]

12)By using list comprehension, please write a program to print the list after removing delete numbers which are divisible by 5 and 7 in [12,24,35,70,88,120,155]

In [70]:
a = [12,24,35,70,88,120,155]
newlist = [i for i in a if i%5==0 and i%7==0]
print(newlist)

[35, 70]

13)Please  write  a  program  to  randomly  generate  a  list  with  5  numbers,  which  are divisible by 5 and 7 , between 1 and 1000 inclusive

In [4]:
import random
templist=[i for i in range(1,1000) if i%5==0 and i%7==0]
print(random.sample(templist,5))

[805, 735, 420, 350, 980]

14)Write  a  program  to  compute  1/2+2/3+3/4+...+n/n+1  with  a  given  n  input  by console (n>0)

In [6]:
num = int(input("Enter a number: "))
newnum = 0

for each in range(1,num+1):
    newnum = newnum+(each/(each+1))

print("computed value : ",format(round(newnum,2)))

Enter a number: 5
computed value :  3.55